<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sof_eng.Mapper.FeedbackMapper">
    <insert id="addFeedback" parameterType="com.sof_eng.model.Feedback">
        INSERT INTO feedback (id, username, email, message)
        VALUES (#{id}, #{username}, #{email}, #{message})
    </insert>



    <select id="getFeedbackById" resultType="com.sof_eng.model.Feedback">
        SELECT * FROM Feedback WHERE id = #{id}
    </select>


</mapper>